﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Install.aspx.cs" Inherits="GKeystore.Install" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>G-Keystore</title>
</head>
<body>
    <form id="form1" runat="server">

    <div>
        <asp:FileUpload ID="FileUpload1" runat="server"/>    
    </div>

    </form>

    <asp:Label ID="Label1" runat="server" Text="Label"></asp:Label>
</body>
</html>
